.Header {
  width: 100%;
  padding: 150px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #17202a;
}

.Header .Header__text-side {
  width: 45%;
}

.Header .Header__text-side b {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #999;
}

.Header .Header__text-side span {
  color: #f00;
}

.Header .Header__text-side h1 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: normal;
}

.Header .Header__text-side p {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 10px;
  color: #999;
}

.Header .Header__slide-side {
  width: 50%;
}

.Header .Header__slide-side .slide_box {
  width: 100%;
  background-color: #000;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 10px;
}

/* === Media === */
@media screen and (max-width: 992px) {
  .Header {
    padding: 100px 50px;
  }
  .Header .Header__text-side b {
    font-size: 10px;
  }
  .Header .Header__text-side h1 {
    font-size: 30px;
  }
  .Header .Header__text-side p {
    font-size: 14px;
  }
  .Header .Header__slide-side {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .Header {
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    /* gap: 50px; */
  }
  .Header .Header__text-side {
    width: 100%;
  }
  .Header .Header__text-side b {
    font-size: 12px;
  }
  .Header .Header__text-side h1 {
    font-size: 35px;
  }
  .Header .Header__text-side p {
    font-size: 16px;
  }
  .Header .Header__slide-side {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 576px) {
  .Header {
    padding: 50px 30px;
  }
  .Header .Header__text-side h1 {
    font-size: 30px;
  }
  .Header .Header__text-side p {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .Header {
    padding: 50px 20px;
  }
  .Header .Header__text-side b {
    font-size: 10px;
  }
  .Header .Header__text-side h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 350px) {
  .Header .Header__text-side h1 {
    font-size: 22px;
  }
  .Header .Header__text-side p {
    margin-top: 5px;
  }
}