.Footer {
  width: 100%;
  padding: 30px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-color: #17202a;
  gap: 20px;
}

.Footer .logo {
  display: flex;
  align-items: center;
}

.Footer .logo .logo_icon,
b {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.Footer .logo b:nth-child(4) {
  color: #0f0;
}

.Footer .footer_menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer .footer_menu a {
  font-size: 18px;
  font-weight: lighter;
  transition: 0.4s;
  padding-bottom: 5px;
  border-bottom: 1px solid #17202a;
}

.Footer .footer_menu a:hover {
  border-bottom: 1px solid #fff;
}

.Footer .footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.Footer .footer_copyright p {
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
}

/* === Media === */

@media screen and (max-width: 992px) {
  .Footer .footer_menu {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 30px 50px 10px 50px;
  }

  .Footer .footer_menu {
    width: 80%;
  }

  .Footer .logo .logo_icon,
  b {
    font-size: 25px;
  }
}

@media screen and (max-width: 576px) {
  .Footer {
    padding: 30px 20px 10px 20px;
  }

  .Footer .footer_menu {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .Footer .logo .logo_icon,
  b {
    font-size: 20px;
  }

  .Footer .footer_menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .Footer .footer_menu a {
    font-size: 16px;
  } 
}