@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    color: #fff;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
}

body {
    scroll-behavior: smooth;
}
/* ===== Scrollbar CSS ===== */

/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #000000 #17202A;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #17202A;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 0px solid #17202A;
}