.Premiere {
  width: 100%;
  padding: 50px 100px;
  background-color: #17202a;
}

.Premiere .pro_title {
  font-size: 30px;
  padding: 10px;
  border-left: 10px solid #000;
}

.Premiere .pro_title span:nth-child(1) {
  color: #fff;
  background-color: #f00;
  padding: 2px;
}

.Premiere .pro_title span:nth-child(2) {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.Premiere .premiere_slider {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.Premiere .premiere_slider .slide_box {
  width: 49%;
  background-color: #000;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

/* === Media === */

@media screen and (max-width: 992px) {
  .Premiere {
    padding: 50px;
  }

  .Premiere .pro_title {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .Premiere .pro_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .Premiere .premiere_slider {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .Premiere .premiere_slider .slide_box {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .Premiere {
    padding: 30px;
  }

  .Premiere .pro_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .Premiere {
    padding: 20px;
  }

  .Premiere .pro_title {
    font-size: 18px;
    padding: 10px 5px;
    border-left: 5px solid #000;
  }
}

/* @media screen and (max-width: 350px) {
} */
